

.headingArt img{
  position:relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  width: 40%;
}

.calculatorContainer {
  position: relative;
  display: inline-block;
  zoom:1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calculatorBase {
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: 'CalculatorFont'; 
  src: url('https://cdn.glitch.global/04acdea7-933d-42b4-b887-a53010fc0bc3/RobotoMono-VariableFont_wght.ttf?v=1649726554180'); 
}

.output {
  position:absolute;
  top:17%;
  left:26%;
  width:40%;
  height:13%;
  text-align: center;
  font-family: 'CalculatorFont', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  transform: rotate(7deg);
  overflow: hidden;
}

.output div {
  display:inline-block;
}
.prevous-operand {
  
}
.current-operand {
  
}


button {
  background-color: transparent;
  border: none;
  outline: none;
  position:absolute;
  top:0;
  left:0;
}

/* Calculator number buttons (9 in total) */
#one {
  top:73%;
  left:14%;
}
#two {
  top:76%;
  left:37%;
}
#three {
  top:78%;
  left:57%;
}
#four {
  top:53%;
  left:15%;
}
#five {
  top:57%;
  left:37%;
}
#six {
  top:57%;
  left:58%;
}
#seven {
  top:32%;
  left:17%;
}
#eight {
  top:36%;
  left:38%;
}
#nine {
  top:37%;
  left:59%;
}
/* End calculator number buttons*/

/* Other buttons */
#plus {
  top:40%;
  left:76%;
}
#minus {
  top:58%;
  left:79%;
}
#ac {
  top: 32%;
  left:4%;
}
#equals {
  top:80%;
  left:78%;
}
/* End other buttons */

.hiddenText {
  position:absolute;
  opacity:0;
}


#soundWaves {
  position:absolute;
  top:6%;
  left:66%;
  opacity:0;
}

