.calculatorContainer {
  position: relative;
  display: inline-block;
  zoom:1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calculatorBase {
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  position:absolute;
  top:0;
  left:0;
}


/* Calculator number buttons (9 in total) */
#one {
  top:80%
}
#two {
  
}
#three {
  
}
#four {
  
}
#five {
  
}
#six {
  
}
#seven {
  
}
#eight {
  
}
#nine {
  
}
/* End calculator number buttons*/

/* Other buttons */
#plus {
  
}
#minus {
  
}
#ac {
  
}
#equals {
  
}

/* End other buttons */