.calculatorContainer {
  background:black;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.calculatorBase {
  position:relative;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  position:absolute;
  top:0;
  left:0;
}